{
  "swagger": "2.0",
  "info": {
    "title": "Face API - V1.0",
    "version": "1.0",
    "description": "This API is currently available in:\r\n\r\n* West US - westus.api.cognitive.microsoft.com\r\n* West US 2 - westus2.api.cognitive.microsoft.com\r\n* East US - eastus.api.cognitive.microsoft.com\r\n* East US 2 - eastus2.api.cognitive.microsoft.com\r\n* West Central US - westcentralus.api.cognitive.microsoft.com\r\n* South Central US - southcentralus.api.cognitive.microsoft.com\r\n* West Europe - westeurope.api.cognitive.microsoft.com\r\n* North Europe - northeurope.api.cognitive.microsoft.com\r\n* Southeast Asia - southeastasia.api.cognitive.microsoft.com\r\n* East Asia - eastasia.api.cognitive.microsoft.com\r\n* Australia East - australiaeast.api.cognitive.microsoft.com\r\n* Brazil South - brazilsouth.api.cognitive.microsoft.com"
  },
  "host": "westus.api.cognitive.microsoft.com",
  "basePath": "/face/v1.0",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/detect": {
      "post": {
        "description": "Detect human faces in an image, return face rectangles, and optionally with faceIds, landmarks, and attributes.\r\n<ul>\r\n    <li>Optional parameters including faceId, landmarks, and attributes. Attributes include age, gender, headPose, smile, facialHair,\r\n        glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure and noise.</li>\r\n    <li>faceId will be used in\r\n        <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395239\">Face - Identify</a>,\r\n        <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a\">Face - Verify</a>, and\r\n        <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395237\">Face - Find Similar</a>. It will expire 24 hours after the detection call.</li>\r\n    <li>JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 4MB.</li>\r\n    <li>Faces are detectable when its size is 36x36 to 4096x4096 pixels. If need to detect very small but clear faces, please\r\n        try to enlarge the input image.</li>\r\n    <li>Up to 64 faces can be returned for an image. Faces are ranked by face rectangle size from large to small.</li>\r\n    <li>Face detector prefer frontal and near-frontal faces. There are cases that faces may not be detected, e.g. exceptionally\r\n        large face angles (head-pose) or being occluded, or wrong image orientation.</li>\r\n    <li>Attributes (age, gender, headPose, smile, facialHair, glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure\r\n        and noise) may not be perfectly accurate. HeadPose's pitch value is a reserved field and will always return 0.</li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST\r\n",
        "operationId": "563879b61984550f30395236",
        "summary": "Face - Detect",
        "parameters": [
          {
            "name": "returnFaceId",
            "in": "query",
            "description": "Return faceIds of the detected faces or not. The default value is true.",
            "type": "boolean",
            "default": "true",
            "enum": [
              "false",
              "true"
            ]
          },
          {
            "name": "returnFaceLandmarks",
            "in": "query",
            "description": "Return face landmarks of the detected faces or not. The default value is false.",
            "type": "boolean",
            "default": "false",
            "enum": [
              "false",
              "true"
            ]
          },
          {
            "name": "returnFaceAttributes",
            "in": "query",
            "description": "Analyze and return the one or more specified face attributes in the comma-separated string like \"returnFaceAttributes=age,gender\". Supported face attributes include age, gender, headPose, smile, facialHair, glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure and noise. Face attribute analysis has additional computational and time cost.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "[binary data]"
            },
            "description": "<article class=\"ed_api_param\">\r\nTo detect in a URL (or binary data) specified image.\r\n<br/><br/> JSON fields in the request body: <br />\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>url</td><th>String</th><td>URL of input image.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json",
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns an array of face entries ranked by face rectangle size in descending order. An empty response indicates\r\nno faces detected. A face entry may contain the following values depending on input parameters:\r\n<table class=\"element table\">\r\n    <thead>\r\n        <tr>\r\n            <th>Fields</th>\r\n            <th>Type</th>\r\n            <th>Description</th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n            <td>faceId</td>\r\n            <th>String</th>\r\n            <td>Unique faceId of the detected face, created by detection API and it will expire 24 hours after the detection call.\r\n                To return this, it requires \"returnFaceId\" parameter to be true.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>faceRectangle</td>\r\n            <th>Object</th>\r\n            <td>A rectangle area for the face location on image.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>faceLandmarks</td>\r\n            <th>Object</th>\r\n            <td>An array of 27-point face landmarks pointing to the important positions of face components. To return this, it\r\n                requires \"returnFaceLandmarks\" parameter to be true.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>faceAttributes</td>\r\n            <th>Object</th>\r\n            <td> Face Attributes:\r\n                <ul>\r\n                    <li>age: an estimated \"visual age\" number in years. It is how old a person looks like rather than the actual biological age.</li>\r\n                    <li>gender: male or female.</li>\r\n                    <li>smile: smile intensity, a number between [0,1].</li>\r\n                    <li>facialHair: return lengths in three facial hair areas: moustache, beard and sideburns. The length is\r\n                        a number between [0,1]. 0 for no facial hair in this area, 1 for long or very thick facial hairs\r\n                        in this area.</li>\r\n                    <li>headPose: 3-D roll/yaw/pitch angles for face direction. Note, Pitch value is a reserved field and will\r\n                        always return 0.</li>\r\n                    <li>glasses: glasses type. Values include 'NoGlasses', 'ReadingGlasses', 'Sunglasses', 'SwimmingGoggles'.</li>\r\n                    <li>emotion: emotion intensity, including neutral, anger, contempt, disgust, fear, happiness, sadness and\r\n                        surprise.\r\n                    </li>\r\n                    <li>hair: group of hair values indicating whether the hair is visible, bald, and hair color if hair is visible.</li>\r\n                    <li>makeup: whether eye, lip areas are made-up or not.</li>\r\n                    <li>accessories: accessories around face, including 'headwear', 'glasses' and 'mask'. Empty array means no\r\n                        accessories detected. Note this is after a face is detected. Large mask could result in no face to\r\n                        be detected.</li>\r\n                    <li>blur: face is blurry or not. Level returns 'Low', 'Medium' or 'High'. Value returns a number between\r\n                        [0,1], the larger the blurrier.</li>\r\n                    <li>exposure: face exposure level. Level returns 'GoodExposure', 'OverExposure' or 'UnderExposure'.</li>\r\n                    <li>noise: noise level of face pixels. Level returns 'Low', 'Medium' and 'High'. Value returns a number between\r\n                        [0,1], the larger the noisier</li>\r\n                </ul>\r\n            </td>\r\n        </tr>\r\n    </tbody>\r\n</table>",
            "examples": {
              "application/json": "[\r\n    {\r\n        \"faceId\": \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n        \"faceRectangle\": {\r\n            \"width\": 78,\r\n            \"height\": 78,\r\n            \"left\": 394,\r\n            \"top\": 54\r\n        },\r\n        \"faceLandmarks\": {\r\n            \"pupilLeft\": {\r\n                \"x\": 412.7,\r\n                \"y\": 78.4\r\n            },\r\n            \"pupilRight\": {\r\n                \"x\": 446.8,\r\n                \"y\": 74.2\r\n            },\r\n            \"noseTip\": {\r\n                \"x\": 437.7,\r\n                \"y\": 92.4\r\n            },\r\n            \"mouthLeft\": {\r\n                \"x\": 417.8,\r\n                \"y\": 114.4\r\n            },\r\n            \"mouthRight\": {\r\n                \"x\": 451.3,\r\n                \"y\": 109.3\r\n            },\r\n            \"eyebrowLeftOuter\": {\r\n                \"x\": 397.9,\r\n                \"y\": 78.5\r\n            },\r\n            \"eyebrowLeftInner\": {\r\n                \"x\": 425.4,\r\n                \"y\": 70.5\r\n            },\r\n            \"eyeLeftOuter\": {\r\n                \"x\": 406.7,\r\n                \"y\": 80.6\r\n            },\r\n            \"eyeLeftTop\": {\r\n                \"x\": 412.2,\r\n                \"y\": 76.2\r\n            },\r\n            \"eyeLeftBottom\": {\r\n                \"x\": 413.0,\r\n                \"y\": 80.1\r\n            },\r\n            \"eyeLeftInner\": {\r\n                \"x\": 418.9,\r\n                \"y\": 78.0\r\n            },\r\n            \"eyebrowRightInner\": {\r\n                \"x\": 4.8,\r\n                \"y\": 69.7\r\n            },\r\n            \"eyebrowRightOuter\": {\r\n                \"x\": 5.5,\r\n                \"y\": 68.5\r\n            },\r\n            \"eyeRightInner\": {\r\n                \"x\": 441.5,\r\n                \"y\": 75.0\r\n            },\r\n            \"eyeRightTop\": {\r\n                \"x\": 446.4,\r\n                \"y\": 71.7\r\n            },\r\n            \"eyeRightBottom\": {\r\n                \"x\": 447.0,\r\n                \"y\": 75.3\r\n            },\r\n            \"eyeRightOuter\": {\r\n                \"x\": 451.7,\r\n                \"y\": 73.4\r\n            },\r\n            \"noseRootLeft\": {\r\n                \"x\": 428.0,\r\n                \"y\": 77.1\r\n            },\r\n            \"noseRootRight\": {\r\n                \"x\": 435.8,\r\n                \"y\": 75.6\r\n            },\r\n            \"noseLeftAlarTop\": {\r\n                \"x\": 428.3,\r\n                \"y\": 89.7\r\n            },\r\n            \"noseRightAlarTop\": {\r\n                \"x\": 442.2,\r\n                \"y\": 87.0\r\n            },\r\n            \"noseLeftAlarOutTip\": {\r\n                \"x\": 424.3,\r\n                \"y\": 96.4\r\n            },\r\n            \"noseRightAlarOutTip\": {\r\n                \"x\": 446.6,\r\n                \"y\": 92.5\r\n            },\r\n            \"upperLipTop\": {\r\n                \"x\": 437.6,\r\n                \"y\": 105.9\r\n            },\r\n            \"upperLipBottom\": {\r\n                \"x\": 437.6,\r\n                \"y\": 108.2\r\n            },\r\n            \"underLipTop\": {\r\n                \"x\": 436.8,\r\n                \"y\": 111.4\r\n            },\r\n            \"underLipBottom\": {\r\n                \"x\": 437.3,\r\n                \"y\": 114.5\r\n            }\r\n        },\r\n        \"faceAttributes\": {\r\n            \"age\": 71.0,\r\n            \"gender\": \"male\",\r\n            \"smile\": 0.88,\r\n            \"facialHair\": {\r\n                \"moustache\": 0.8,\r\n                \"beard\": 0.1,\r\n                \"sideburns\": 0.02\r\n            },\r\n            \"glasses\": \"sunglasses\",\r\n            \"headPose\": {\r\n                \"roll\": 2.1,\r\n                \"yaw\": 3,\r\n                \"pitch\": 0\r\n            },\r\n            \"emotion\": {\r\n                \"anger\": 0.575,\r\n                \"contempt\": 0,\r\n                \"disgust\": 0.006,\r\n                \"fear\": 0.008,\r\n                \"happiness\": 0.394,\r\n                \"neutral\": 0.013,\r\n                \"sadness\": 0,\r\n                \"surprise\": 0.004\r\n            },\r\n            \"hair\": {\r\n                \"bald\": 0.0,\r\n                \"invisible\": false,\r\n                \"hairColor\": [\r\n                    {\"color\": \"brown\", \"confidence\": 1.0},\r\n                    {\"color\": \"blond\", \"confidence\": 0.88},\r\n                    {\"color\": \"black\", \"confidence\": 0.48},\r\n                    {\"color\": \"other\", \"confidence\": 0.11},\r\n                    {\"color\": \"gray\", \"confidence\": 0.07},\r\n                    {\"color\": \"red\", \"confidence\": 0.03}\r\n                ]\r\n            },\r\n            \"makeup\": {\r\n                \"eyeMakeup\": true,\r\n                \"lipMakeup\": false\r\n            },\r\n            \"occlusion\": {\r\n                \"foreheadOccluded\": false,\r\n                \"eyeOccluded\": false,\r\n                \"mouthOccluded\": false\r\n            },\r\n            \"accessories\": [\r\n                {\"type\": \"headWear\", \"confidence\": 0.99},\r\n                {\"type\": \"glasses\", \"confidence\": 1.0},\r\n                {\"type\": \"mask\",\" confidence\": 0.87}\r\n            ],\r\n            \"blur\": {\r\n                \"blurLevel\": \"Medium\",\r\n                \"value\": 0.51\r\n            },\r\n            \"exposure\": {\r\n                \"exposureLevel\": \"GoodExposure\",\r\n                \"value\": 0.55\r\n            },\r\n            \"noise\": {\r\n                \"noiseLevel\": \"Low\",\r\n                \"value\": 0.12\r\n            }\r\n        }\r\n    }\r\n]\r\n"
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>JSON parsing error. Bad or unrecognizable request JSON body.</td></tr>\r\n<tr><td>BadArgument</td><td>Invalid returnFaceAttributes. Supported values are: age, gender, headPose, smile, facialHair, glasses in a comma-separated format.\r\n<tr><td>InvalidURL</td><td>Invalid image format or URL. Supported formats include JPEG, PNG, GIF(the first frame) and BMP.</td></tr>\r\n<tr><td>InvalidURL</td><td>Failed to download image from the specified URL. Remote server error returned.</td></tr>\r\n<tr><td>InvalidImage</td><td>Decoding error, image format unsupported.</td></tr>\r\n<tr><td>InvalidImageSize</td><td>Image size is too small. The valid image file size should be larger than or equal to 1KB.</td></tr>\r\n<tr><td>InvalidImageSize</td><td>Image size is too big. The valid image file size should be no larger than 4MB.</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Request body is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "408": {
            "description": "Operation exceeds maximum execution time.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "OperationTimeOut",
                  "message": "Request Timeout."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Content-Type is not in the allowed types: <br/>\r\n<ol>\r\n<li>For an image URL, Content-Type should be application/json</li>\r\n<li>For a local image, Content-Type should be application/octet-stream</li>\r\n</ol>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/findsimilars": {
      "post": {
        "description": "Given query face's faceId, to search the similar-looking faces from a faceId array, a face list or a large face list. faceId\r\narray contains the faces created by\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>, which will expire 24 hours after creation. A \"faceListId\" is created by\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039524b\">FaceList - Create</a> containing persistedFaceIds that will not expire. And a \"largeFaceListId\" is created by\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/5a157b68d2de3616c086f2cc\">LargeFaceList - Create</a> containing persistedFaceIds that will also not expire. Depending on the input the returned similar\r\nfaces list contains faceIds or persistedFaceIds ranked by similarity.\r\n<br/>\r\n<br/> Find similar has two working modes, \"matchPerson\" and \"matchFace\". \"matchPerson\" is the default mode that it tries to find\r\nfaces of the same person as possible by using internal same-person thresholds. It is useful to find a known person's other\r\nphotos. Note that an empty list will be returned if no faces pass the internal thresholds. \"matchFace\" mode ignores same-person\r\nthresholds and returns ranked similar faces anyway, even the similarity is low. It can be used in the cases like searching\r\ncelebrity-looking faces.\r\n<h4>Http Method</h4>\r\nPOST",
        "operationId": "563879b61984550f30395237",
        "summary": "Face - Find Similar",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"faceId\": \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n    \"largeFaceListId\": \"sample_list\",\r\n    \"maxNumOfCandidatesReturned\": 10,\r\n    \"mode\": \"matchPerson\"\r\n}"
            },
            "description": "JSON fields in request body:\r\n<table class=\"element table\">\r\n    <thead>\r\n        <tr>\r\n            <th>Fields</th>\r\n            <th>Type</th>\r\n            <th>Description</th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n            <td>faceId</td>\r\n            <th>String</th>\r\n            <td>faceId of the query face. User needs to call <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a> first to get a valid faceId. Note that this faceId is not persisted and will expire 24 hours after the detection call.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>faceListId</td>\r\n            <th>String</th>\r\n            <td>An existing user-specified unique candidate face list, created in <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039524b\">FaceList - Create</a>. Face list contains a set of persistedFaceIds which are persisted and will never expire. Parameter faceListId, largeFaceListId and faceIds should not be provided at the same time.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>largeFaceListId</td>\r\n            <th>String</th>\r\n            <td>An existing user-specified unique candidate large face list, created in <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/5a157b68d2de3616c086f2cc\">LargeFaceList - Create</a>. Large face list contains a set of persistedFaceIds which are persisted and will never expire. Parameter faceListId, largeFaceListId and faceIds should not be provided at the same time.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>faceIds</td>\r\n            <th>Array</th>\r\n            <td>An array of candidate faceIds. All of them are created by <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a> and the faceIds will expire 24 hours after the detection call. The number of faceIds is limited to 1000. Parameter faceListId, largeFaceListId and faceIds should not be provided at the same time.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>maxNumOfCandidatesReturned (optional)</td>\r\n            <th>Number</th>\r\n            <td>Optional parameter.\r\n                <br /> The number of top similar faces returned.\r\n                <br /> The valid range is [1, 1000].It defaults to 20. </td>\r\n        </tr>\r\n        <tr>\r\n            <td>mode (optional)</td>\r\n            <th>String</th>\r\n            <td>Optional parameter.\r\n                <br /> Similar face searching mode. It can be \"matchPerson\" or \"matchFace\". It defaults to \"matchPerson\".</td>\r\n        </tr>\r\n    </tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns an array of the most similar faces represented in faceId if the input parameter is faceIds or persistedFaceId if the input parameter is faceListId or largeFaceListId.\r\n<br /><br /> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>persistedFaceId</td><th>String</th><td>persistedFaceId of candidate face when find by faceListId or largeFaceListId. persistedFaceId in face list/large face list is persisted and will not expire. As showed in below response.</td></tr>\r\n<tr><td>faceId</td><th>String</th><td>faceId of candidate face when find by faceIds. faceId is created by <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a> and will expire 24 hours after the detection call. </td></tr>\r\n<tr><td>confidence</td><th>Number</th><td>Similarity confidence of the candidate face. The higher confidence, the more similar. Range between [0,1].</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": "[\r\n    {\r\n        \"persistedFaceId\" : \"015839fb-fbd9-4f79-ace9-7675fc2f1dd9\",\r\n        \"confidence\" : 0.82\r\n    },\r\n    ...\r\n]"
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>Invalid request body.</td></tr>\r\n<tr><td>BadArgument</td><td>Mode is invalid.</td></tr>\r\n<tr><td>BadArgument</td><td>The argument maxNumOfCandidatesReturned is not valid.</td></tr>\r\n<tr><td>BadArgument</td><td>The length of faceIds is not in a valid range.</td></tr>\r\n<tr><td>BadArgument</td><td>LargeFaceListId, faceListId and faceIds, not exactly one of them is valid.</td></tr>\r\n<tr><td>BadArgument</td><td>Face list ID is invalid.</td></tr>\r\n<tr><td>BadArgument</td><td>Large face list ID is invalid.</td></tr>\r\n<tr><td>BadArgument</td><td>LargeFaceListId, faceListId and faceIds are all null.</td></tr>\r\n<tr><td>BadArgument</td><td>2 or more of largeFaceListId, faceListId and faceIds are not null.</td></tr>\r\n<tr><td>FaceNotFound</td><td>Query face cannot be found.</td></tr>\r\n<tr><td>FaceListNotFound</td><td>Face list is not found.</td></tr>\r\n<tr><td>LargeFaceListNotFound</td><td>Large face list is not found.</td></tr>\r\n<tr><td>LargeFaceListNotTrained</td><td>Large face list is not trained.</td></tr>\r\n<tr><td>FaceListNotReady</td><td>Face list is empty.</td></tr>\r\n<tr><td>LargeFaceListTrainingNotFinished</td><td>Large face list training is not finished.</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Request body is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Only \"application/json\" is valid for this API.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/group": {
      "post": {
        "description": "Divide candidate faces into groups based on face similarity.\r\n<br/>\r\n<ul>\r\n<li>The output is one or more disjointed face groups and a messyGroup. A face group contains faces\r\nthat have similar looking, often of the same person. Face groups are ranked by\r\ngroup size, i.e. number of faces. Notice that faces belonging to a same person might be split into several groups in the result.\r\n</li>\r\n<li>MessyGroup is a special face group containing faces that cannot find any similar counterpart face from original faces. The messyGroup will not appear in the result if all faces\r\nfound their counterparts.</li>\r\n<li>Group API needs at least 2 candidate faces and 1000 at most. We suggest to try <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a\">Face - Verify</a> when you only have 2 candidate faces.</li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST\r\n",
        "operationId": "563879b61984550f30395238",
        "summary": "Face - Group",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"faceIds\": [\r\n        \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n        \"015839fb-fbd9-4f79-ace9-7675fc2f1dd9\",\r\n        \"65d083d4-9447-47d1-af30-b626144bf0fb\",\r\n        \"fce92aed-d578-4d2e-8114-068f8af4492e\",\r\n        \"30ea1073-cc9e-4652-b1e3-d08fb7b95315\",\r\n        \"be386ab3-af91-4104-9e6d-4dae4c9fddb7\",\r\n        \"fbd2a038-dbff-452c-8e79-2ee81b1aa84e\",\r\n        \"b64d5e15-8257-4af2-b20a-5a750f8940e7\"\r\n    ]\r\n}"
            },
            "description": "JSON fields in request body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>faceIds</td><th>Array</th><td>Array of candidate faceId created by <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>. The maximum is 1000 faces.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns one or more groups of similar faces (rank by group size) and a messyGroup.\r\n<br /><br /> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>groups</td><th>Array</th><td>A partition of the original faces based on face similarity. Groups are ranked by number of faces.</td></tr>\r\n<tr><td>messyGroup</td><th>Array</th><td>Face ids array of faces that cannot find any similar faces from original faces.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "groups": [
                  [
                    "c5c24a82-6845-4031-9d5d-978df9175426",
                    "015839fb-fbd9-4f79-ace9-7675fc2f1dd9",
                    "fce92aed-d578-4d2e-8114-068f8af4492e",
                    "b64d5e15-8257-4af2-b20a-5a750f8940e7"
                  ],
                  [
                    "65d083d4-9447-47d1-af30-b626144bf0fb",
                    "30ea1073-cc9e-4652-b1e3-d08fb7b95315"
                  ]
                ],
                "messyGroup": [
                  "be386ab3-af91-4104-9e6d-4dae4c9fddb7"
                ]
              }
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>Invalid request body.</td></tr>\r\n<tr><td>BadArgument</td><td>Candidate faces count out of range [1, 1000].</td></tr>\r\n<tr><td>FaceNotFound</td><td>Current face is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Request body is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Only \"application/json\" is valid for this API.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/identify": {
      "post": {
        "description": "1-to-many identification to find the closest matches of the specific query person face from a person group or large person group.\r\n<br/>\r\n<br/> For each face in the faceIds array, Face Identify will compute similarities between the query face and all the faces in\r\nthe person group (given by personGroupId) or large person group (given by largePersonGroupId), and return candidate person(s)\r\nfor that face ranked by similarity confidence. The person group/large person group should be trained to make it ready for\r\nidentification. See more in\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395249\">PersonGroup - Train</a> and\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/599ae2d16ac60f11b48b5aa4\">LargePersonGroup - Train</a>.\r\n<br/>\r\n<br/> Remarks:\r\n<ul>\r\n\t<li>The algorithm allows more than one face to be identified independently at the same request, but no more than 10 faces.</li>\r\n\t<li>Each person in the person group/large person group could have more than one face, but no more than 248 faces.</li>\r\n\t<li>Identification works well for frontal faces and near-frontal faces.</li>\r\n\t<li>Number of candidates returned is restricted by maxNumOfCandidatesReturned and confidenceThreshold. If no person is identified,\r\n\t\tthe returned candidates will be an empty array.</li>\r\n\t<li>Try\r\n\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395237\">Face - Find Similar</a> when you need to find similar faces from a face list/large face list instead of a person group/large\r\n\t\tperson group.</li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST",
        "operationId": "563879b61984550f30395239",
        "summary": "Face - Identify",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"largePersonGroupId\": \"sample_group\",\r\n    \"faceIds\": [\r\n        \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n        \"65d083d4-9447-47d1-af30-b626144bf0fb\"\r\n    ],\r\n    \"maxNumOfCandidatesReturned\": 1,\r\n    \"confidenceThreshold\": 0.5\r\n}"
            },
            "description": "JSON fields in request body:\r\n<table class=\"element table\">\r\n    <thead>\r\n        <tr>\r\n            <th>Fields</th>\r\n            <th>Type</th>\r\n            <th>Description</th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n            <td>faceIds</td>\r\n            <th>Array</th>\r\n            <td> Array of query faces faceIds, created by the <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>. Each of the faces are identified independently. The valid number of faceIds is between [1, 10].</td>\r\n        </tr>\r\n        <tr>\r\n            <td>personGroupId</td>\r\n            <th>String</th>\r\n            <td>personGroupId of the target person group, created by <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395244\">PersonGroup - Create</a>. Parameter personGroupId and largePersonGroupId should not be provided at the same time.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>largePersonGroupId</td>\r\n            <th>String</th>\r\n            <td>largePersonGroupId of the target large person group, created by <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/599acdee6ac60f11b48b5a9d\">LargePersonGroup - Create</a>. Parameter personGroupId and largePersonGroupId should not be provided at the same time.</td>\r\n        </tr>\r\n        <tr>\r\n            <td>maxNumOfCandidatesReturned (optional)</td>\r\n            <th>Number</th>\r\n            <td>The range of maxNumOfCandidatesReturned is between 1 and 100 (default is 10).</td>\r\n        </tr>\r\n        <tr>\r\n            <td>confidenceThreshold (optional)</td>\r\n            <th>Number</th>\r\n            <td>Optional parameter.\r\n                <br /> Customized identification confidence threshold, in the range of [0, 1]. Advanced user can tweak this value to override default internal threshold for better precision on their scenario data. Note there is no guarantee of this threshold value working on other data and after algorithm updates.</td>\r\n        </tr>\r\n    </tbody>\r\n</table>"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns the identified candidate person(s) for each query face.\r\n<br/><br/> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>faceId</td><th>String</th><td>faceId of the query face.</td></tr>\r\n<tr><td>candidates</td><th>Array</th><td>Identified person candidates for that face (ranked by confidence). Array size should be no larger than input maxNumOfCandidatesReturned. If no person is identified, will return an empty array. </td></tr>\r\n<tr><td>personId</td><th>String</th><td>personId of candidate person.</td></tr>\r\n<tr><td>confidence</td><th>Number</th><td>A float number between 0.0 and 1.0.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": "{\r\n    [\r\n        {\r\n            \"faceId\": \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n            \"candidates\": [\r\n                {\r\n                    \"personId\": \"25985303-c537-4467-b41d-bdb45cd95ca1\",\r\n                    \"confidence\": 0.92\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"faceId\": \"65d083d4-9447-47d1-af30-b626144bf0fb\",\r\n            \"candidates\": [\r\n                {\r\n                    \"personId\": \"2ae4935b-9659-44c3-977f-61fac20d0538\",\r\n                    \"confidence\": 0.89\r\n                }\r\n            ]\r\n        }\r\n    ]\r\n}"
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>Invalid request body.</td></tr>\r\n<tr><td>BadArgument</td><td>The argument maxNumOfCandidatesReturned is not valid. Range is [1,5]</td></tr>\r\n<tr><td>BadArgument</td><td>The argument confidenceThreshold is not valid. Range is [0, 1]</td></tr>\r\n<tr><td>BadArgument</td><td>Face ID is invalid.</td></tr>\r\n<tr><td>BadArgument</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>BadArgument</td><td>Large person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupIdAndLargePersonGroupIdBothNotNull</td><td>Large person group ID and person group ID are both not null.</td></tr>\r\n<tr><td>PersonGroupIdAndLargePersonGroupIdBothNull</td><td>Large person group ID and person group ID are both null.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>LargePersonGroupNotFound</td><td>Large person group is not found.</td></tr>\r\n<tr><td>FaceNotFound</td><td>Face is not found.</td></tr>\r\n<tr><td>PersonGroupNotTrained</td><td>Person group not trained.</td></tr>\r\n<tr><td>LargePersonGroupNotTrained</td><td>Large person group not trained.</td></tr>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>Person group is under training.</td></tr>\r\n<tr><td>LargePersonGroupTrainingNotFinished</td><td>Large person group is under training.</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Large Person group is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>Invalid request body.</td></tr>\r\n<tr><td>BadArgument</td><td>The argument maxNumOfCandidatesReturned is not valid.</td></tr>\r\n<tr><td>BadArgument</td><td>The argument confidenceThreshold is not valid.</td></tr>\r\n<tr><td>BadArgument</td><td>Face ID is invalid.</td></tr>\r\n<tr><td>BadArgument</td><td>The length of faceIds is not in a valid range.</td></tr>\r\n<tr><td>BadArgument</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>BadArgument</td><td>Large person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupIdAndLargePersonGroupIdBothNotNull</td><td>Large person group ID and person group ID are both not null.</td></tr>\r\n<tr><td>PersonGroupIdAndLargePersonGroupIdBothNull</td><td>Large person group ID and person group ID are both null.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>LargePersonGroupNotFound</td><td>Large person group is not found.</td></tr>\r\n<tr><td>FaceNotFound</td><td>Face is not found.</td></tr>\r\n<tr><td>PersonGroupNotTrained</td><td>Person group not trained.</td></tr>\r\n<tr><td>LargePersonGroupNotTrained</td><td>Large person group not trained.</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "409": {
            "description": "Training process is conflict with identify. Try identify again when training is finished.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "LargePersonGroupTrainingNotFinished",
                  "message": "Large person group is under training."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Only \"application/json\" is valid for this API.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/verify": {
      "post": {
        "description": "Verify whether two faces belong to a same person or whether one face belongs to a person.\r\n<br/><br/>\r\nRemarks:\r\n<ul>\r\n<li>This API works well for frontal and near-frontal faces. </li>\r\n<li>For the scenarios that are sensitive to accuracy please make your own judgment.</li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST\r\n",
        "operationId": "563879b61984550f3039523a",
        "summary": "Face - Verify",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"faceId\": \"c5c24a82-6845-4031-9d5d-978df9175426\",\r\n    \"personId\": \"815df99c-598f-4926-930a-a734b3fd651c\",\r\n    \"largePersonGroupId\": \"sample_group\"\r\n}\r\n"
            },
            "description": "JSON fields in face to face verification request body:\r\n<table class=\"element table\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th>Fields</th>\r\n\t\t\t<th>Type</th>\r\n\t\t\t<th>Description</th>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td>faceId1</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>faceId of one face, comes from\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>faceId2</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>faceId of another face, comes from\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>.</td>\r\n\t\t</tr>\r\n\t</tbody>\r\n</table> JSON fields in face to person verification request body:\r\n<table class=\"element table\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th>Fields</th>\r\n\t\t\t<th>Type</th>\r\n\t\t\t<th>Description</th>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td>faceId</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>faceId of the face, comes from\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>personGroupId</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>Using existing personGroupId and personId for fast loading a specified person. personGroupId is created in\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395244\">PersonGroup - Create</a>. Parameter personGroupId and largePersonGroupId should not be provided at the same time.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>largePersonGroupId</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>Using existing largePersonGroupId and personId for fast loading a specified person. largePersonGroupId is created in\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/599acdee6ac60f11b48b5a9d\">LargePersonGroup - Create</a>. Parameter personGroupId and largePersonGroupId should not be provided at the same time.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>personId</td>\r\n\t\t\t<th>String</th>\r\n\t\t\t<td>Specify a certain person in a person group or a large person group. personId is created in\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523c\">PersonGroup Person - Create</a> or\r\n\t\t\t\t<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/599adcba3a7b9412a4d53f40\">LargePersonGroup Person - Create</a>.</td>\r\n\t\t</tr>\r\n\t</tbody>\r\n</table>"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns the verification result.\r\n<br /><br /> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>isIdentical</td><th>Boolean</th><td>True if the two faces belong to the same person or the face belongs to the person, otherwise false.</td></tr>\r\n<tr><td>confidence</td><th>Number</th><td>A number indicates the similarity confidence of whether two faces belong to the same person, or whether the face belongs to the person. By default, isIdentical is set to True if similarity confidence is greater than or equal to 0.5. This is useful for advanced users to override \"isIdentical\" and fine-tune the result on their own data.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "isIdentical": true,
                "confidence": 0.9
              }
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th>Error Code</th>\r\n\t\t\t<th>Error Message Description</th>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td>BadArgument</td>\r\n\t\t\t<td>Bad and unrecognizable JSON body.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>BadArgument</td>\r\n\t\t\t<td>Face ID is invalid. faceId1, faceId2 or faceId is invalid and valid faceId comes from <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>. </td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>BadArgument</td>\r\n\t\t\t<td>Person ID is invalid. Valid personId is generated from <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523c\">PersonGroup Person - Create</a> or <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/599adcba3a7b9412a4d53f40\">LargePersonGroup Person - Create</a> for existing person.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>BadArgument</td>\r\n\t\t\t<td>Request body is invalid.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>BadArgument</td>\r\n\t\t\t<td>Person group ID or Large Perosn Group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td>\r\n\t\t</tr>\r\n\t</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Request body is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th>Error Code</th>\r\n\t\t\t<th>Error Message Description</th>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td>FaceNotFound</td>\r\n\t\t\t<td>Face is not found. The faceId is expired or not exist.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>PersonNotFound</td>\r\n\t\t\t<td>Person is not found.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>PersonGroupNotFound</td>\r\n\t\t\t<td>Person Group is not found.</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td>LargePersonGroupNotFound</td>\r\n\t\t\t<td>Large Person Group is not found.</td>\r\n\t\t</tr>\r\n\t</tbody>\r\n\t</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "LargePersonGroupNotFound",
                  "message": "Large person group is not found."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Only \"application/json\" is valid for this API.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/persongroups/{personGroupId}/persons/{personId}/persistedFaces": {
      "post": {
        "description": "Add a face image to a person into a person group for face identification or verification. To deal with the image of multiple\r\nfaces, input face can be specified as an image with a targetFace rectangle. It returns a persistedFaceId representing the\r\nadded face. The face image and related info will be stored on server until\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523e\">PersonGroup PersonFace - Delete</a>,\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523d\">PersonGroup Person - Delete</a> or\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395245\">PersonGroup - Delete</a> is called.\r\n<br /> Note persistedFaceId is different from faceId generated by\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>.\r\n<ul>\r\n    <li>Higher face image quality means better recognition precision. Please consider high-quality faces: frontal, clear, and\r\n        face size is 200x200 pixels (100 pixels between eyes) or bigger.</li>\r\n    <li>Each person entry can hold up to 248 faces.</li>\r\n    <li>JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 4MB.</li>\r\n    <li>\"targetFace\" rectangle should contain one face. Zero or multiple faces will be regarded as an error. If the provided\r\n        \"targetFace\" rectangle is not returned from\r\n        <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a>, there’s no guarantee to detect and add the face successfully.</li>\r\n    <li>Out of detectable face size (36x36 - 4096x4096 pixels), large head-pose, or large occlusions will cause failures.</li>\r\n    <li>Adding/deleting faces to/from a same person will be processed sequentially. Adding/deleting faces to/from different persons\r\n        are processed in parallel.</li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST",
        "operationId": "563879b61984550f3039523b",
        "summary": "PersonGroup Person - Add Face",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "Target person that the face is added to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userData",
            "in": "query",
            "description": "User-specified data about the target face to add for any purpose. The maximum length is 1KB.",
            "type": "string"
          },
          {
            "name": "targetFace",
            "in": "query",
            "description": "A face rectangle to specify the target face to be added to a person, in the format of \"targetFace=left,top,width,height\". E.g. \"targetFace=10,10,100,100\". If there is more than one face in the image, targetFace is required to specify which face to add. No targetFace means there is only one face detected in the entire image.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    [binary data]\r\n}"
            },
            "description": "\r\n<br/><br/> JSON fields in request body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>url</td><th>String</th><td>Face image URL. Valid image size is from 1KB to 4MB. Only one face is allowed per image.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json",
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "\r\nA successful call returns the new persistedFaceId.\r\n<br/><br/> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>persistedFaceId</td><th>String</th><td>persistedFaceId of the added face, which is persisted and will not expire. Different from faceId which is created in <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236\">Face - Detect</a> and will expire in 24 hours after the detection call. </td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "persistedFaceId": "B8D802CF-DD8F-4E61-B15C-9E6C5844CCBA"
              }
            }
          },
          "400": {
            "description": "Error code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>'userData' is too long.</td></tr>\r\n<tr><td>BadArgument</td><td>Invalid request body.</td></tr>\r\n<tr><td>BadArgument</td><td>Argument targetFace out of range, targetFace is valid but it's intersection with the entire image is empty.</td></tr>\r\n<tr><td>BadArgument</td><td>Invalid argument targetFace. Caused by invalid string format or invalid left/top/height/width value. </td></tr>\r\n<tr><td>InvalidImage</td><td>Decoding error, image format unsupported.</td></tr>\r\n<tr><td>InvalidImage</td><td>No face detected in the image or in the specified targetFace area.</td></tr>\r\n<tr><td>InvalidImage</td><td>There is more than 1 face in the image or in the specified targetFace area.</td></tr>\r\n<tr><td>InvalidImageSize</td><td>Image size is too small.</td></tr>\r\n<tr><td>InvalidImageSize</td><td>Image size is too big.</td></tr>\r\n<tr><td>InvalidURL</td><td>Invalid image URL.</td></tr>\r\n<tr><td>InvalidURL</td><td>Failed to download from target server. Remote server error returned.</td></tr>\r\n</tbody>\r\n</table>",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Request body is invalid."
                }
              }
            }
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "\r\nPersisted face number reached limit, maximum is 248 per person.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "QuotaExceeded",
                  "message": "Persisted face number reached limit."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person ID is invalid.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "408": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "code": "OperationTimeOut",
                  "message": "Request Timeout."
                }
              }
            }
          },
          "409": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>The person group is still under training. Try again after training completed.</td></tr>\r\n<tr><td>ConcurrentOperationConflict</td><td>Concurrent operation conflict on requested resource.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupTrainingNotFinished",
                  "message": "Person group is under training."
                }
              }
            }
          },
          "415": {
            "description": "\r\nUnsupported media type error. Content-Type is not in the allowed types: <br/>\r\n<ol>\r\n<li>For an image URL, Content-Type should be application/json</li>\r\n<li>For a local image, Content-Type should be application/octet-stream</li>\r\n</ol>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/persongroups/{personGroupId}/persons": {
      "post": {
        "description": "Create a new person in a specified person group. To add face to this person, please call\r\n<a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523b\">PersonGroup PersonFace - Add</a>.\r\n<br/>\r\n<ul>\r\n    <li>Free-tier subscription quota:\r\n        <ul>\r\n            <li>1,000 persons in all person groups.</li>\r\n        </ul>\r\n    </li>\r\n    <li>S0-tier subscription quota:\r\n        <ul>\r\n            <li>10,000 persons per person group.</li>\r\n            <li>1,000,000 person groups.</li>\r\n            <li>100,000,000 persons in all person groups.</li>\r\n        </ul>\r\n    </li>\r\n</ul>\r\n<h4>Http Method</h4>\r\nPOST",
        "operationId": "563879b61984550f3039523c",
        "summary": "PersonGroup Person - Create",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the target person group to create the person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"name\": \"Person1\",\r\n    \"userData\": \"User-provided data attached to the person.\"\r\n}"
            },
            "description": "\r\nJSON fields in request body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>name</td><th>String</th><td>Display name of the target person. The maximum length is 128.</td></tr>\r\n<tr><td>userData (optional)</td><th>String</th><td>Optional fields for user-provided data attached to a person. Size limit is 16KB.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "\r\nA successful call returns a new personId created.\r\n<br/><br/>\r\nJSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>personId</td><th>String</th><td>personID of the new created person.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "personId": "25985303-c537-4467-b41d-bdb45cd95ca1"
              }
            }
          },
          "400": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>'name' is too long.</td></tr>\r\n<tr><td>BadArgument</td><td>'userData' is too long.</td></tr>\r\n<tr><td>BadArgument</td><td>Bad and unrecognizable JSON body.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "'userData' is too long."
                }
              }
            }
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "Person number reached subscription level limit or person group level limit.\r\nFree tier subscriptions have a limit of 1,000 persons per Person Group and 1,000 persons total per subscription. The S0 tier subscriptions have these limits: 10,000 Persons per Person Group, 100M Persons total and 1M Person Groups per subscription.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "QuotaExceeded",
                  "message": "Person number reached subscription level limit."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Face list is not found."
                }
              }
            }
          },
          "409": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>The person group is still under training. Try again after training completed.</td></tr>\r\n<tr><td>ConcurrentOperationConflict</td><td>Concurrent operation conflict on requested resource.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupTrainingNotFinished",
                  "message": "Person group is under training."
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type error. Only \"application/json\" is valid for this API.",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "List all persons’ information in the specified person group, including personId, name, userData and persistedFaceIds of registered\r\nperson faces.\r\n<ul>\r\n    <li>Persons are stored in alphabetical order of personId created in\r\n        <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523c\">PersonGroup Person - Create</a>.</li>\r\n    <li>\"start\" parameter (string, optional) is a personId value that returned entries have larger ids by string comparison.\r\n        \"start\" set to empty to indicate return from the first item.</li>\r\n    <li>\"top\" parameter (int, optional) specifies the number of entries to return. A maximal of 1000 entries can be returned\r\n        in one call. To fetch more, you can specify \"start\" with the last returned entry’s personId of the current call.</li>\r\n</ul>\r\nFor example, total 5 persons with their personId: \"personId1\", ..., \"personId5\".\r\n<br /> \"start=&top=\" will return all 5 persons.\r\n<br /> \"start=&top=2\" will return \"personId1\", \"personId2\".\r\n<br /> \"start=personId2&top=3\" will return \"personId3\", \"personId4\", \"personId5\".\r\n<h4>Http Method</h4>\r\nGET",
        "operationId": "563879b61984550f30395241",
        "summary": "PersonGroup Person - List",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "personGroupId of the target person group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "List persons from the least personId greater than the \"start\". It contains no more than 64 characters. Default is empty.",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "The number of persons to list, ranging in [1, 1000]. Default is 1000.",
            "type": "integer",
            "default": "1000",
            "enum": [
              "1000"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "\r\nA successful call returns an array of person information that belong to the person group.\r\n<br/><br/> JSON fields in response body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>personId</td><th>String</th><td>personId of the person in the person group.</td></tr>\r\n<tr><td>name</td><th>String</th><td>Person's display name.</td></tr>\r\n<tr><td>userData</td><th>String</th><td>User-provided data attached to the person.</td></tr>\r\n<tr><td>persistedFaceIds</td><th>Array</th><td>persistedFaceId array of registered faces of the person.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": "[\r\n    {\r\n        \"personId\": \"25985303-c537-4467-b41d-bdb45cd95ca1\",\r\n        \"name\": \"Ryan\",\r\n        \"userData\": \"User-provided data attached to the person.\",\r\n        \"persistedFaceIds\": [\r\n          \"015839fb-fbd9-4f79-ace9-7675fc2f1dd9\",\r\n          \"fce92aed-d578-4d2e-8114-068f8af4492e\",\r\n          \"b64d5e15-8257-4af2-b20a-5a750f8940e7\"\r\n        ]\r\n    },\r\n    {\r\n        \"personId\": \"2ae4935b-9659-44c3-977f-61fac20d0538\",\r\n        \"name\": \"David\",\r\n        \"userData\": \"User-provided data attached to the person.\",\r\n            \"persistedFaceIds\": [\r\n            \"30ea1073-cc9e-4652-b1e3-d08fb7b95315\",\r\n            \"fbd2a038-dbff-452c-8e79-2ee81b1aa84e\"\r\n        ]\r\n    }\r\n]"
            }
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "409": {
            "description": "",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": ConcurrentOperationConflict,\r\n        \"message\": \"There is a conflict operation on requested resource, please try later.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/persongroups/{personGroupId}/persons/{personId}": {
      "delete": {
        "description": "Delete an existing person from a person group. All stored person data, and face images in the person entry will be deleted.\r\n<h4>Http Method</h4>\r\nDELETE",
        "operationId": "563879b61984550f3039523d",
        "summary": "PersonGroup Person - Delete",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "The target personId to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "\r\nA successful call returns an empty response body.\r\n"
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person ID is invalid.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "409": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>The person group is still under training. Try again after training completed.</td></tr>\r\n<tr><td>ConcurrentOperationConflict</td><td>Concurrent operation conflict on requested resource.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupTrainingNotFinished",
                  "message": "Person group is under training."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve a person's name and userData, and the persisted faceIds representing the registered person face image.\r\n<h4>Http Method</h4>\r\nGET",
        "operationId": "563879b61984550f3039523f",
        "summary": "PersonGroup Person - Get",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "Specifying the target person.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "\r\nA successful call returns the person's information.\r\n<br/><br/> JSON fields in response body:\r\n\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>personId</td><th>String</th><td>personId of the retrieved person.</td></tr>\r\n<tr><td>persistedFaceIds</td><th>Array</th><td>persistedFaceIds of registered faces in the person. These persistedFaceIds are returned from <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523b\">PersonGroup PersonFace - Add</a>, and will not expire.</td></tr>\r\n<tr><td>name</td><th>String</th><td>Person's display name.</td></tr>\r\n<tr><td>userData</td><th>String</th><td>User-provided data attached to the person.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "personId": "25985303-c537-4467-b41d-bdb45cd95ca1",
                "persistedFaceIds": [
                  "015839fb-fbd9-4f79-ace9-7675fc2f1dd9",
                  "fce92aed-d578-4d2e-8114-068f8af4492e",
                  "b64d5e15-8257-4af2-b20a-5a750f8940e7"
                ],
                "name": "Ryan",
                "userData": "User-provided data attached to the person."
              }
            }
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person ID is invalid.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "409": {
            "description": "",
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": ConcurrentOperationConflict,\r\n        \"message\": \"There is a conflict operation on requested resource, please try later.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update name or userData of a person.\r\n<h4>Http Method</h4>\r\nPATCH",
        "operationId": "563879b61984550f30395242",
        "summary": "PersonGroup Person - Update",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "personId of the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "example": "{\r\n    \"name\": \"Person1\",\r\n    \"userData\": \"user-provided data attached to the person.\"\r\n}"
            },
            "description": "\r\nJSON fields in request body:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Fields</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>name</td><th>String</th><td>Target person's display name. Maximum length is 128.</td></tr>\r\n<tr><td>userData</td><th>String</th><td>User-provided data attached to the person. Maximum length is 16KB.</td></tr>\r\n\r\n</tbody>\r\n</table>\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call returns an empty response body."
          },
          "400": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>BadArgument</td><td>'name' is too long.</td></tr>\r\n<tr><td>BadArgument</td><td>'userData' is too long.</td></tr>\r\n<tr><td>BadArgument</td><td>Bad and unrecognizable JSON body.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "'userData' is too long."
                }
              }
            }
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person ID is invalid.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "409": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>The person group is still under training. Try again after training completed.</td></tr>\r\n<tr><td>ConcurrentOperationConflict</td><td>Concurrent operation conflict on requested resource.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupTrainingNotFinished",
                  "message": "Person group is under training."
                }
              }
            }
          },
          "415": {
            "description": "\r\nUnsupported media type error. Only \"application/json\" is valid for this API.\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid Media Type."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/persongroups/{personGroupId}/persons/{personId}/persistedFaces/{persistedFaceId}": {
      "delete": {
        "description": "Delete a face from a person in a person group. Face data and image related to this face entry will be also deleted.\r\n<br /> Adding/deleting faces to/from a same person will be processed sequentially. Adding/deleting faces to/from different persons are processed\r\nin parallel.\r\n<br />\r\n<h4>Http Method</h4>\r\nDELETE",
        "operationId": "563879b61984550f3039523e",
        "summary": "PersonGroup Person - Delete Face",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "Specifying the person that the target persisted face belong to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "persistedFaceId",
            "in": "path",
            "description": "The persisted face to remove. This persistedFaceId is returned from <a href=\"/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523b\">PersonGroup PersonFace - Add</a>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call returns an empty response body."
          },
          "401": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Unspecified</td><td>Invalid subscription Key or user/plan is blocked.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2 days."
                }
              }
            }
          },
          "404": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersistedFaceNotFound</td><td>Face ID is invalid.</td></tr>\r\n<tr><td>PersistedFaceNotFound</td><td>Face is not found.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group ID is invalid. Valid format should be a string composed by numbers, English letters in lower case, '-', '_', and no longer than 64 characters.</td></tr>\r\n<tr><td>PersonGroupNotFound</td><td>Person group is not found.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person ID is invalid.</td></tr>\r\n<tr><td>PersonNotFound</td><td>Person is not found.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupNotFound",
                  "message": "Person group is not found."
                }
              }
            }
          },
          "409": {
            "description": "\r\nError code and message returned in JSON:\r\n<table class=\"element table\">\r\n<thead>\r\n<tr><th>Error Code</th><th>Error Message Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PersonGroupTrainingNotFinished</td><td>The person group is still under training. Try again after training completed.</td></tr>\r\n<tr><td>ConcurrentOperationConflict</td><td>Concurrent operation conflict on requested resource.</td></tr>\r\n</tbody>\r\n</table>\r\n",
            "examples": {
              "application/json": {
                "error": {
                  "code": "PersonGroupTrainingNotFinished",
                  "message": "Person group is under training."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve person face information. The persisted person face is specified by its personGroupId, personId and persistedFaceId.\r\n<h4>Http Method</h4>\r\nGET",
        "operationId": "563879b61984550f30395240",
        "summary": "PersonGroup Person - Get Face",
        "parameters": [
          {
            "name": "personGroupId",
            "in": "path",
            "description": "Specifying the person group containing the target person.",
            "required": true,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "Specifying the target person that the face belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "persistedFaceId",
            "in": "path",
            "description": "The persistedFaceId of the target persisted face of the person.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
[...]
